@font-face {
  font-family: "Bluu Next";
  src: url(bluunext.woff2), url(bluunext.woff);
}

body {
  font-family: "Bluu Next", Times New Roman;
  font-size: 24px;
  line-height: 1.25;

  background-color: #edc7a9;
  background-image: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  color: #333;
  margin: 40px auto 40px auto;
  width: 620px;
  height: 100vh;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 10vmin;
}
